<html xmlns:th="http://www.thymeleaf.org">
<body>
<form th:object="${userMatchSearchingFilterDTO}" method="post">
    <h2>Edit filter</h2>
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputDropDownEnum :: input ('Gender', 'gender', ${T(com.velikokhatko.model.enums.Gender).values()})}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Minimum Age', 'ageMin', 'number')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Maximum Age', 'ageMax', 'number')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Minimum Height', 'heightMin', 'number')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Maximum Height', 'heightMax', 'number')}"/>

        <br>
        <div th:text="|Body types setting|"></div>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Thin', 'findThin', 'checkbox')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Average', 'findAverage', 'checkbox')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Fat', 'findFat', 'checkbox')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Athletic', 'findAthletic', 'checkbox')}"/>
    </div>
    <div class="form-group">
        <br>
        <div>
            <button class="btn btn-default" type="submit" th:text="|Update filter|"></button>
        </div>
    </div>
</form>
</body>
</html>
