<html xmlns:th="http://www.thymeleaf.org">
<body>
<form th:object="${userDTO}" class="form-horizontal" id="add-owner-form" method="post" enctype="multipart/form-data">
    <h2>Create New User</h2>
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputFieldWithType :: input ('Name', 'name', 'text')}"/>
        <input th:replace="~{fragments/inputDropDownEnum :: input ('Gender', 'gender', ${T(com.velikokhatko.model.enums.Gender).values()})}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Photo', 'photo', 'file')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Age', 'age', 'number')}"/>
        <input th:replace="~{fragments/inputDropDownEnum :: input ('Body type', 'bodyType', ${T(com.velikokhatko.model.enums.BodyType).values()})}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Description', 'description', 'text')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Height', 'height', 'number')}"/>
        <br>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Username', 'username', 'text')}"/>
        <input th:replace="~{fragments/inputFieldWithType :: input ('Password', 'password', 'password')}"/>
    </div>
    <div class="form-group">
        <br>
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Create User</button>
        </div>
    </div>
</form>
</body>
</html>
