<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body th:object="${user}">

<head>
    <title th:text="|*{name} profile|">User Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<h1><span th:text="*{name}">username</span></h1>

<div>
    <img style="height:200px" th:unless="${user.image64 == null}"
         th:src="@{'data:image/jpeg;base64,' + ${user.image64}}">
    <p th:unless="${user.gender == null}">Gender: <span th:text="*{gender.name()}">gender</span></p>
    <p th:unless="${user.age == null}">Age: <span th:text="*{age}">age</span></p>
    <p th:unless="${user.bodyType == null}">Body type: <span th:text="*{bodyType.name()}">body type</span></p>
    <p th:unless="${user.height == null}">Height: <span th:text="*{height}">height</span></p>
    <p th:unless="${user.description == null}">Description: <span th:text="*{description}">description</span></p>
</div>
<h4>
    <tr>
        <td><a th:text="|Edit|" th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a></td>
    </tr>
</h4>
</br>

<h3>
    <tr>
        <td><a th:text="|Matches|" th:href="@{/matches/{id}(id=${user.id})}">Matches</a></td>
    </tr>
    </br>
</h3>

<h3>
    <tr>
        <td><a th:text="|Filter settings|" th:href="@{/filter/{id}(id=${user.id})}">Filter settings</a></td>
    </tr>
    </br>
</h3>

</body>
</html>
